/Makefile
/_pylibmpsse.so
/_pylibmpsse.pyd
/autom4te.cache
/configure
/config.h
/config.log
/config.status
/libmpsse.a
/libmpsse.so
/libmpsse.pyd
/libmpsse.dll
/mpsse_wrap.c
/pylibmpsse.py
/examples/Makefile
/aclocal.m4
/examples/*.exe
